# macOS
.DS_Store

# PyCharm / IDE files
.idea/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data and generated outputs
data/raw/
data/processed/
data/experiments/
outputs/
processed_data/

# Large files
*.pkl
*.h5
*.zip
*.csv
*.npy
*.npz

# Models/results
models/
results/
tests/
